<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysScheduleMapper">
    
    <resultMap type="SysSchedule" id="SysScheduleResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="year"    column="year"    />
        <result property="month"    column="month"    />
        <result property="day"    column="day"    />
    </resultMap>

    <sql id="selectSysScheduleVo">
        select id, user_id, create_time, year, month, day from sys_schedule
    </sql>

    <select id="selectSysScheduleList" parameterType="SysSchedule" resultMap="SysScheduleResult">
        <include refid="selectSysScheduleVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="year != null "> and year = #{year}</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="day != null "> and day = #{day}</if>
        </where>
    </select>

    <select id="selectSysScheduleByDate" parameterType="SysSchedule" resultMap="SysScheduleResult">
        <include refid="selectSysScheduleVo"/>
        <where>
            <if test="year != null "> and year = #{year}</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="day != null "> and day = #{day}</if>
        </where>
    </select>

    <select id="selectSysScheduleListByUserId" parameterType="Long" resultMap="SysScheduleResult">
        <include refid="selectSysScheduleVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectSysScheduleById" parameterType="Long" resultMap="SysScheduleResult">
        <include refid="selectSysScheduleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysSchedule" parameterType="SysSchedule" useGeneratedKeys="true" keyProperty="id">
        insert into sys_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="day != null">day,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="day != null">#{day},</if>
         </trim>
    </insert>

    <update id="updateSysSchedule" parameterType="SysSchedule">
        update sys_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="day != null">day = #{day},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysScheduleById" parameterType="Long">
        delete from sys_schedule where id = #{id}
    </delete>

    <delete id="deleteSysScheduleByIds" parameterType="String">
        delete from sys_schedule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>